<div class="container-full section">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-md-6">
          <h1>İLETİŞİM</h1>
          <p>
            Iletisimle alakali yazilar gelcek buraya, biraz calinti biraz kalite
            farkiyla dayar dosenir.Iletisimle alakali yazilar gelcek buraya, biraz calinti biraz kalite
            farkiyla dayar dosenir.Iletisimle alakali yazilar gelcek buraya, biraz calinti biraz kalite
            farkiyla dayar dosenir.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
