<div class="container section">
  <div class="box-wrapper">
    <h1>ÜYE GİRİŞİ</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend"></div>
      <input
        type="text"
        class="form-control"
        aria-label="Email"
        placeholder="Eposta"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"></div>
      <input
        type="text"
        class="form-control"
        placeholder="Şifre"
        aria-label="Password"
      />
    </div>
    <div class="center">
        <button class="btn">GİRİŞ YAP</button>
    </div>
    
  </div>
</div>
