<div class="container-full section">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-md-8">
          <h1>Hakkimda ile alakali baslik gelcek buraya</h1>
          <p>
            Yazi gelcek buraya hakkimda.Yazi gelcek buraya hakkimda.Yazi gelcek
            buraya hakkimda.Yazi gelcek buraya hakkimda.Yazi gelcek buraya
            hakkimda.Yazi gelcek buraya hakkimda.Yazi gelcek buraya hakkimda.
          </p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
