.section{
    background-color: darkolivegreen;
}
.banner{
    padding-top: 10%;
}
.banner h1{
    font-size: 350%;
    margin-bottom: 5%;
    margin-top: 23%;
    font-weight: bolder;
    text-align: left;
    color: rgb(28,176,230);
    line-height: 55px !important;
    font-family: oswald-bold;
    text-transform: uppercase;
}
.banner p{
    line-height: 28px;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-bottom: 20%;
}