<div class="container-full section">
  <div class="container">
    <div class="banner">
        <div class="whitespace"></div>
      <h1>SORULARINIZ</h1>
      <div class="whitespace"></div>
      <div class="row">
        <div class="col-md-6">
          <p class="title">Antrenmana ihtiyacım var mı?</p>
          <p>
            Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
            gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
            yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
            burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
            yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
          </p>
          <p class="title">Antrenmana ihtiyacım var mı?</p>
          <p>
            Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
            gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
            yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
            burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
            yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
          </p>
          <p class="title">Antrenmana ihtiyacım var mı?</p>
          <p>
            Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
            gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
            yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
            burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
            .Burda yazilar burda yazilar gelcek.Burda yazilar
            burda yazilar gelcek.Burda yazilar burda yazilar g
            yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
          </p>
        </div>
        <div class="col-md-6">
            <p class="title">Antrenmana ihtiyacım var mı?</p>
            <p>
              Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
              gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
              yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
              burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
              yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
              Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
              gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
              yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
              burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
              yazilar burda
            </p>
            <p class="title">Antrenmana ihtiyacım var mı?</p>
            <p>
              Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
              gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
              yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
              burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
              yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
            </p>
            <p class="title">Antrenmana ihtiyacım var mı?</p>
            <p>
              Burda yazilar burda yazilar gelcek.Burda yazilar burda yazilar
              gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar burda
              yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda yazilar
              burda yazilar gelcek.Burda yazilar burda yazilar gelcek.Burda
              yazilar burda yazilar gelcek.Burda yazilar burda yazilar gelcek.
            </p>
        </div>
      </div>
      <div class="whitespace"></div>
    </div>
  </div>
</div>
