<div class="container-full section">
<div class="container footer">
    <div class="topFooter">
<div class="row">
    <div class="col-md-3">
        <h4>Hizmetler</h4>
        <p [routerLink]="['/personaltraining']">Kişisel Antrenman</p>
        <p [routerLink]="['/onlinetraining']">Online Antrenman</p>
    </div>
    <div class="col-md-3">
        <h4>Hakkımda</h4>
        <p [routerLink]="['/aboutme']">Hakkımda</p>
    </div>
    <div class="col-md-3">
        <h4>Destek</h4>
        <p [routerLink]="['/contact']">İletişime Geçin</p>
    </div>
</div>
</div>
<hr>
<div class="row section2">
    <div class="col-md-6">
        <p class="cpl">© COPYRIGHT 2021. ALL RIGHTS RESERVED</p>
    </div>
    <div class="col-md-6">
        <p class="cpr">Designed by OUROBOROS</p>
    </div>
</div>
</div>
</div>