<nav
  class="navbar navbar-expand-lg navbar-light sticky bg-light"
>
  <div class="container">
    <a class="navbar-brand" href="/">Can Coaching</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ul-nav navbar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutme">Hakkımda</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            PROGRAMLAR
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/personaltraining"
              >KİŞİSEL ANTRENMAN</a
            >
            <a class="dropdown-item" href="/onlinetraining">ONLINE ANTRENMAN</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">PAKETLER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">İLETİŞİM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">GİRİŞ YAP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
