<div class="panel-menu">
  <div class="row h-100 align-items-center">
    <div class="col-md-6 brand"></div>
    <div class="col-md-6 menu">
      <span><img src="../../../assets/images/add.png" /></span>
    </div>
  </div>
</div>
<div class="video-body">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <span class="more"><img src="../../../assets/images/more.png" /></span>
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h1>VIDEO ADI</h1>
        <div class="video-box"></div>
        <p>
          Burda da aciklama olcak. Uzun olursa kisalcak ... giobi iste uzucak mi
          daha kontrol edeyim
        </p>
      </div>
    </div>
  </div>
</div>
