<div class="container">
  <div class="whitespace"></div>
  <div class="banner">
    <div class="row">
      <div class="col-md-5">
        <div class="box-wrapper">
          <h1>İLETİŞİME GEÇ</h1>
          <p class="required-field">* Zorunlu alan</p>
          <p>AD VE SOYAD *</p>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ad"
                  aria-label="FirstName"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Soyad"
                  aria-label="LastName"
                />
              </div>
            </div>
          </div>
          <p>EPOSTA *</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <input type="text" class="form-control" aria-label="Email" />
          </div>
          <p>AÇIKLAMA *</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <textarea
              name="text"
              class="form-control comment"
              aria-label="Comment"
            ></textarea>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="agreeEmail"
            />
            <label class="form-check-label" for="agreeEmail">
              Can Coaching tarafından gönderilecek epostaları kabul ediyorum.
            </label>
          </div>
          <button class="btn">GÖNDER</button>
        </div>
      </div>
      <div class="col-md-7">
          <div class="contactRight">
          <h1>TELEFON</h1>
          <p>0 545 999 99 99</p>
          <h1>EPOSTA</h1>
          <p>info@cancoaching.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="whitespace"></div>
</div>
