<section>
  <div class="whitespace"></div>
  <div class="container py-5">
    <div class="row text-center align-items-end">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">BASİT DÜZEY</h1>
          <h2 class="h1 font-weight-bold">
            49 TL<span class="text-small font-weight-normal ml-2">/ aylık</span>
          </h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3 text-muted">
              <fa-icon [icon]="faTimes" class="fa fa-times mr-2"></fa-icon>
              <del>Sed ut perspiciatis</del>
            </li>
            <li class="mb-3 text-muted">
              <fa-icon [icon]="faTimes" class="fa fa-times mr-2"></fa-icon>
              <del>Sed ut perspiciatis</del>
            </li>
            <li class="mb-3 text-muted">
              <fa-icon [icon]="faTimes" class="fa fa-times mr-2"></fa-icon>
              <del>Sed ut perspiciatis</del>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill"
            >Abone Ol</a
          >
        </div>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">ORTA DÜZEY</h1>
          <h2 class="h1 font-weight-bold">
            79 TL<span class="text-small font-weight-normal ml-2">/ aylık</span>
          </h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul
            class="list-unstyled my-5 text-small text-left font-weight-normal"
          >
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3 text-muted">
              <fa-icon [icon]="faTimes" class="fa fa-times mr-2"></fa-icon>
              <del>Sed ut perspiciatis</del>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill"
            >Abone Ol</a
          >
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">İLERİ DÜZEY</h1>
          <h2 class="h1 font-weight-bold">
            129 TL<span class="text-small font-weight-normal ml-2"
              >/ aylık</span
            >
          </h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul
            class="list-unstyled my-5 text-small text-left font-weight-normal"
          >
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
            <li class="mb-3">
              <fa-icon
                [icon]="faCheck"
                class="fa fa-check mr-2 text-primary"
              ></fa-icon>
              Lorem ipsum dolor sit amet
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill"
            >Abone Ol</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="whitespace"></div>
</section>
