<div class="container">
  <div class="banner">
    <div class="whitespace"></div>
    <div class="row">
      <div class="col-md-4">
        <h1>BEN KİMİM ?</h1>
        <p>Burda foto</p>
      </div>
      <div class="col-md-8">
        <h1>BEN KİMİM ?</h1>
        <p>Burda kendini anlatan bisiler falan.</p>
        <p>
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
        </p>
        <p>
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
        </p>
        <p>
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan. Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan. Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
        </p>
        <p>
          Burda kendini anlatan bisiler falan.Burda kendini anlatan bisiler
          falan.vBurda kendini anlatan bisiler falan.Burda kendini anlatan
          bisiler falan.
        </p>
      </div>
    </div>
    <div class="whitespace"></div>
  </div>
</div>
