<div class="container-full section">
    <div class="container">
      <div class="banner">
        <div class="row">
          <div class="col-md-6">
            <h1>KİŞİSEL ANTRENMAN</h1>
            <p>
              Burda yazigelcek.Burda yazigelcek.Burda yazigelcek.Burda
              yazigelcek.Burda yazigelcek.Burda yazigelcek.Burda yazigelcek.Burda
              yazigelcek.Burda yazigelcek.Burda yazigelcek.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  