<div class="container">
  <div class="banner">
    <div class="whitespace"></div>
    <h1>KİMLER İÇİN?</h1>
    <p>
      Burda kimlerin ders almasi gerekti anlatilcak.Burda kimlerin ders almasi
      gerekti anlatilcak.Burda kimlerin ders almasi gerekti anlatilcak.Burda
      kimlerin ders almasi gerekti anlatilcak.
    </p>
    <h1>ANTRENMANA NELER DAHİL?</h1>
    <ul>
      <li>
        Burda antrenmana neler dahil anlatilacak.Burda antrenmana neler dahil
        anlatilacak.Burda antrenmana neler dahil anlatilacak.
      </li>
      <li>
        Burda antrenmana neler dahil anlatilacak.Burda antrenmana neler dahil
        anlatilacak.
      </li>
      <li>Burda antrenmana neler dahil anlatilacak.</li>
      <li>
        aBurda antrenmana neler dahil anlatilacak.Burda antrenmana neler dahil
        anlatilacak.Burda antrenmana neler dahil anlatilacak.Burda antrenmana
        neler dahil anlatilacak.Burda antrenmana neler dahil anlatilacak.aa
      </li>
    </ul>
    <p>Fiyatlandirma icin inceleyebilirsiiniz tarzi bi sey.</p>
    <div class="center">
      <button class="btn" [routerLink]="['/pricing']">HEMEN BAŞLAYIN</button>
    </div>
  </div>
</div>
<div class="whitespace"></div>
