<div class="container section">
    <h1>basmisim aminoasidi</h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo. Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.
        </p>
        <p>
          Hazirsan baslayalim canim iste buraya tiklali miklali bi seyler.
        </p>
        <button class="btn-primary">Hakkımda</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  