.section{
    background-color: brown;
}
.section h1{
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase;
}
.section p:first-child{
    margin-top: 3%;
}
.section p{
    margin-top: 6%;
    font-size: 17px;
    text-align: center;
}
.section button{
    margin-top: 6%;
    margin-bottom: 6%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}