<div class="panel-menu">
    <div class="row h-100 align-items-center">
      <div class="col-md-6 brand">
        <h1>Merhaba Can</h1>
        <a>Site yönetim ekranına hoş geldiniz.</a>
      </div>
      <div class="col-md-6 menu">
        <span><img src="../../../assets/images/bell.png"></span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <h1>Aktif Üye Sayısı</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">aa</div>
      </div>
      <div class="col-md-4">
        <div class="card">aa</div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="card">aa</div>
        </div>
        <div class="col-md-4">
          <div class="card">aa</div>
        </div>
        <div class="col-md-4">
          <div class="card">aa</div>
        </div>
      </div>
  </div>