.panel-menu {
      height: 100px;
      background: white;
    }
    .brand h1 {
      font-family: oswald-bold;
    }
    .brand{
      padding-left: 80px;
    }
    .menu img{
      float: right;
      padding-right: 80px;
      font-family: montserrat;
      height: 24px;
      width: auto;
      cursor: pointer;
    }
    .panel-body {
      background: rgb(0, 0, 0, 0.1);
      padding:3%;
    }
    .card{
        height: 350px;
        background: white;
        border-radius: 15px;
        margin-bottom: 3%;
        text-align: center;
    }
    @media screen and (max-device-width:767px) {
      .brand{
        display: none;
      }
      .menu img{
        padding-right: 30px;
      }
    }
    