<nav
  class="navbar navbar-expand-lg navbar-light sticky bg-light"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ul-nav navbar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/">Antrenmanlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutme">İSTATİSTİKLER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">KULLANICI ADI</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
