<div class="container-full section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="whatWeDo">
          <h2>NELER YAPIYORUM KISMI</h2>
          <p>
            NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR
            CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER
            YAPILIYOR CARTCURT. NELER YAPILIYOR CARTCURT.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="../../../assets/images/1.jpg" />
          <h2>Burda Baslik</h2>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir bunlar.
          </p>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.
          </p>
        </div>
        <div class="card">   <img src="../../../assets/images/1.jpg" />
          <h2>Burda Baslik</h2>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir bunlar.
          </p>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.
          </p></div>
      </div>
      <div class="col-md-6">
        <div class="card">   <img src="../../../assets/images/1.jpg" />
          <h2>Burda Baslik</h2>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir bunlar.
          </p>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.
          </p></div>
        <div class="card">   <img src="../../../assets/images/1.jpg" />
          <h2>Burda Baslik</h2>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir bunlar.
          </p>
          <p>
            Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.Burda da biraz yazi iste uzun kisa duruma gore ayarlanir
            bunlar.
          </p></div>
      </div>
    </div>
  </div>
</div>
