<div class="container-full section">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="whatWeDo">
            <h2>NELER YAPIYORUM KISMI</h2>
            <p>
              NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.NELER YAPILIYOR CARTCURT.
              NELER YAPILIYOR CARTCURT.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="card">afa</div>
          <div class="card">afa</div>
        </div>
        <div class="col-md-5">
          <div class="card">afa</div>
          <div class="card">afa</div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  