.sidebar{
    width: 90px;
    background-color: #e0e0e0;
    height: 80vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.sidebar p{
    text-align: center;
}
.sidebar ul{
    text-decoration: none;
    list-style: none;
    display: inline;
}
.top li:first-child{
    margin-top: 100px;
}
.sidebar ul li{
    margin-bottom: 40px;
    display: block;
    text-align: center;
}
.bottom{
    position: absolute;
    bottom: 20px;
}
.icon{
    cursor: pointer;
}