<div class="sidebar position-fixed">
  <div class="sidebar-menu">
    <ul class="top">
      <li>
        <span class="icon"
          ><img src="../../../assets/images/home.png" [routerLink]="['/adminpanel']"
        /></span>
      </li>
      <li>
        <span class="icon"
          ><img src="../../../assets/images/video.png" [routerLink]="['/adminpanel/video']"
        /></span>
      </li>
      <li><a>a</a></li>
      <li><a>a</a></li>
    </ul>
    <ul class="bottom">
      <li><a>a</a></li>
      <li><a>a</a></li>
    </ul>
  </div>
</div>
