<div class="sidebar position-fixed">
  <div class="sidebar-menu">
    <ul class="top">
      <li>
        <span class="icon"
          ><img src="../../../assets/images/home.png" [routerLink]="['/adminpanel']"
        /></span>
      </li>
      <li>
        <span class="icon"
          ><img src="../../../assets/images/video.png" [routerLink]="['/adminpanel/video']"
        /></span>
      </li>
      <li><a>a</a></li>
      <li><a>a</a></li>

    
      <li><span class="icon"
        ><img src="../../../assets/images/back.png" [routerLink]="['/adminpanel/video']"
      /></span></li>
      <li><span class="icon"
        ><img src="../../../assets/images/logout.png" style="width: 28px;height: auto;" [routerLink]="['/adminpanel/video']"
      /></span></li>
    </ul>
  </div>
</div>
