<div class="container-full section">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h1>TRAINER COACH</h1>
          <p>
            Şimdi buraya öyle yazılar gelcekki şaşırcaksınız.Şimdi buraya öyle
            yazılar gelcekki şaşırcaksınız.Şimdi buraya öyle yazılar gelcekki
            şaşırcaksınız.Şimdi buraya öyle yazılar gelcekki şaşırcaksınız.
          </p>
          <button class="btn" [routerLink]="['/onlinetraining']">Hemen Başlayın</button>
        </div>
      </div>
    </div>
  </div>
</div>
