<div class="container section">
  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>YAZI GELCEK BURAYA</h1>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo. Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz
          sonra size bi seyler oluo.simdi biz bir seyler yapiyoruz sonra size bi
          seyler oluo.
        </p>
        <p>
          Simdi biz bir seyler yapiyoruz sonra size bi seyler oluo.simdi biz bir
          seyler yapiyoruz sonra size bi seyler oluo.
        </p>
        <p>
          Hazirsan baslayalim canim iste buraya tiklali miklali bi seyler.
        </p>
        <div class="buttonWrapper">
          <button class="btn" [routerLink]="['/aboutme']">Hakkımda</button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  