<div class="container-full section">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-md-8">
          <h1>BENİ NİYE TERCİH ETMELİSİN?</h1>
          <p>
            Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda
            alt yazi.Burda alt yazi.Burda alt yazi.v.Burda alt yazi.Burda alt
            yazi.Burda alt yazi.v
          </p>
          <p>
            Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda
            alt yazi.Burda alt yazi.Burda alt yazi.v.Burda alt yazi.Burda alt
            yazi.Burda alt yazi.v
          </p>
          <p>
            Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda
            alt yazi.Burda alt yazi.Burda alt yazi.v.Burda alt yazi.Burda alt
            yazi.Burda alt yazi.v
          </p>
          <div class="paragraph">
            <ul>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
                <li>Burda belirli sebepler</li>
            </ul>
          </div>
          <p>
            Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda alt yazi.Burda
            alt yazi.Burda alt yazi.Burda alt yazi.v.Burda alt yazi.Burda alt
            yazi.Burda alt yazi.v
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
